* {
    margin: 0;
    padding: 0;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

[loading="true"] {
    animation: loading 1s infinite;
}

[loading="false"] {
    animation: none;
}

[disable="true"], [disable="true"]:hover {
    background-color: #e5e5e5;
}

[show-selected="true"] [selected-user="false"] {
    display: none;
}

.hidden {
    display: none;
}

/* */
button {
    box-sizing: border-box;
    height: 24px;
    padding: 4px 8px;

    border-radius: 5px;
    border: 2px transparent;
    min-width: 50px;
    box-shadow: darkgreen 0px 0px 1px;
}

button:hover {
    background-color: coral;
}

button:active {
    background-color: bisque;
}

select {
    min-width: 50px;
    height: 24px;
}

/* containers */
.header {
    box-sizing: border-box;
    background: #9e9e9e40;
    padding: 4px 8px;
}

.device-panel {
    display:flex;
    align-items: center;
}

.device-panel div {
    display:flex;
    align-items: center;
    margin: 2px 4px;
}

.tests-panel {
    display:flex;
    align-items: center;
    overflow: scroll;
}

.tests-panel div {
    display:flex;
    align-items: center;
    margin: 2px 4px;
}

.signer-panel {
    display:flex;
    align-items: center;
}

.signer-panel div {
    display:flex;
    align-items: center;
    margin: 2px 4px;
}

.device-status {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    border: 2px solid darkgray;
    position: relative;
    top: 2px;
}

.device-status.off {
    background: brown;
}

.device-status.on {
    background: chartreuse;
}

.tx-preview-container {
    box-sizing: border-box;
    padding: 4px 8px;
    width: 700px;
    height: 150px;

}

.tx-preview-container .tx-preview-json {
    width: 100%;
    height: 100%;
}

@media (max-width: 480px) {
    .tx-preview-container {
        width: 100%;
        height: 200px;
    }
}

p.user-item {
    padding: 5px;
    background: #f3f1f1;
    border-bottom: 2px solid white;
    padding-left: 12px;
}

p.user-item:hover {
    background: floralwhite;
}

p.user-item[selected-user="true"] {
    background: beige;
}

p.user-item[selected-user="true"]:after {
    background-color: #0050ff;
    border-radius: 15px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: ' ';
}

/* code.user-data.address {
    background-color: lightblue;
    border-radius: 5px;
    padding: 0px 5px;
}

code.user-data.key {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 0px 5px;
}

code.user-data.path {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 0px 5px;
} */

span.data-wrapper {
    display: inline-block;
}

span.data-wrapper label {
    display: block;
}

/* .form-title {
    margin: auto;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid;
    margin-bottom: 10px;
} */

/* textarea.data, textarea.data-out {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    min-height: 50px;
    height: 50px;
    max-height: 150px;
} */

.error button {
    background-color: firebrick;
    color: #e5e5e5;
}

.error-text {
    position: absolute;
    background-color: bisque;
    padding: 10px;
    right: 0;
    width: 300px;
    overflow: auto;
}

.error.hide {
    display: none!important;
}

.error-text.hide {
    display: none;
}

.result-container,
.signer-log-container {
    box-sizing: border-box;
    padding: 4px 8px;
    min-height: 20px;
}